body {
    width: 900px;
    margin: 40px auto;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 14px;
    color: #444;
}

header h1 {
	font-size: 260%;
	margin: 0 0 1em;
	padding-top: 1em;
	border:0;
}



h1 {
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
	border-bottom: 2px solid black; 
	padding-top: 1em;
}

h2 {
	padding-top: 0.75em;
	color: #000;
	font-size: 130%;
	margin: 0 0 .5em;
	border-bottom: 1px solid black; 
}

h4 {
	font-size: 110%;
	margin: 0 0 .5em;
	padding-left:5px;
	background: #E0E0DD;
}

h3 {
	font-size: 110%;
	margin: 1em 0 1em;
	padding: 1em;
  color:white;
	background: #6d6d6d;
}


table {
    border-spacing: 0;
    width: 80%;    
    border: solid #ccc 1px;
     margin-left:auto; 
    margin-right:auto;
}

tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
td, th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

td:first-child, th:first-child {
    border-left: none;
}

th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

 th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

 th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

 tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

 tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

pre  {font-family: consolas, courier, monospace;
       font-size: 1em;
       background-color: #dddddd; 
       color: #6d6d6d;
       line-height: 1.2em;
       white-space: pre; 
       border: 1px solid #666;
       border-radius: 1em; /* just in case */
       padding: 1em;
       margin: 1.2em 1em;
       width: 90%; /* or whatever you prefer */
      
       }
       
.box {border:2px solid #dddddd;margin:1em}
.box h2 {background:#dddddd;color:black;padding:5px;font-size:100%;border:0px}
.box p {color:#333;padding:5px;}
     

figure {
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

figure img {
  border-radius: 3px 3px 0 0;
}

figure figcaption {
  padding: 2px 4px 2px 4px;
  color: #a8a8a8;
  font-style: italic;
  border-radius: 0 0 3px 3px;
}

table caption {
  color: #a8a8a8;
  font-style: italic;
  padding: 0.2em;
  caption-side:bottom;
}
